<template>
  <div style="border-width: 3px; border-color: red">
    <NuxtLayout>
      <AppPage></AppPage>
    </NuxtLayout>
  </div>
</template>

<script>
import AppDefaultLayout from "./components/AppDefaultLayout.vue";
export default {
  components: {AppDefaultLayout}
}
</script>