
<template>
  <div>
    <AisField label="Year Type">
      <AisSelect :options="yearTypes" v-model="selectedYearType" name="delegate.selectedYearType"/>
    </AisField>
    <AisField label="Year">
      <AisSelect :options="years" v-model="selectedYear" name="delegate.selectedYear"/>
    </AisField>
  </div>
</template>


<script setup>
    import {useDocumentStore} from "../../stores/document-store";
    import {storeToRefs} from "pinia";

    const {yearTypes, selectedYearType, years, selectedYear} = storeToRefs(useDocumentStore())
</script>