<template>
  <div>
    <AisField label="Collection Agency">
      <AisSelect :options="agencies" v-model="selectedAgency" name="delegate.selectedAgency"/>
    </AisField>
    <AisField label="Optional comments to be included in the PDF may be added here:">
      <AisTextarea v-model="comments" rows="5" size="lg" name="delegate.comments"/>
    </AisField>
  </div>
</template>


<script setup>
import {storeToRefs} from "pinia";
import {useDocumentStore} from "../../stores/document-store";

const {agencies, selectedAgency, comments} = storeToRefs(useDocumentStore())
</script>