<template>
  <div>
    <AisField label="Tax Year">
      <AisSelect :options="taxYears" v-model="selectedTaxYear" name="delegate.selectedTaxYear"/>
    </AisField>
  </div>
</template>


<script setup>
import {storeToRefs} from "pinia";
import {useDocumentStore} from "../../stores/document-store";

const {taxYears, selectedTaxYear} = storeToRefs(useDocumentStore())
</script>