<template>
  <div>
    <AisField label="Session">
      <AisSelect :options="sessions" v-model="selectedSession" name="delegate.selectedSession"/>
    </AisField>
  </div>
</template>


<script setup>
import {storeToRefs} from "pinia";
import {useDocumentStore} from "../../stores/document-store";

const {sessions, selectedSession} = storeToRefs(useDocumentStore())
</script>