<template>
  <div className="ais-app text-base flex flex-col justify-between">
    <div className="w-full flex">
      <div className="inline-block flex flex-col gap-4 w-full max-w-[1536px]">
        <div className="w-full">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
</script>

<style scoped>
</style>