<template>
  <div>
    <div v-if="loading" class="flex flex-col justify-center items-center gap-6">
      <div>
        <AisSpinner opacity="100" size="text-7xl"></AisSpinner>
      </div>
      <div class="uppercase font-semibold tracking-wider">
        Loading
      </div>
    </div>
    <div v-show="!loading">
      <NuxtPage></NuxtPage>
    </div>
  </div>
</template>

<script setup lang="ts">
const nuxtApp = useNuxtApp();
const loading = ref<boolean>(false);
nuxtApp.hook("page:start", () => {
  loading.value = true;
});

nuxtApp.hook("page:finish", () => {
  loading.value = false;
});
</script>

<style scoped>

</style>