<template>
  <div>
    <AppDefaultLayout>
      <slot></slot>
    </AppDefaultLayout>
  </div>
</template>

<script setup>

import AppDefaultLayout from "../components/AppDefaultLayout.vue";
</script>

<style scoped>

</style>